.header {
  text-align: center;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
}

.carousel {
  background-color: rgb(255,160,122,.5);
  text-align: center;
  max-height: 100%;
  min-height: 300px;

}

.image {
  height: auto;
  margin: 20px;
  max-width: 900px;
  max-height: 900px;
}

h3, h4 {
  margin: 20px;
}

#root {
  background-image: url("./assets/images/backdrop.jpg");
}

@media screen and (max-width: 980px) {
  .image {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .image{
    width: 80%;
  }
}